{% extends "post/header.html"%} {% block title %}Groups{% endblock %} {% block content %}
</br>
<table class="card shadow portfolio">
    <tr>
        <td>
            <h1> List Of Groups:</h1>
        </td>
        <td>
            <a type="button" href="{%url 'group-create'%}" class="btn btn-info">Create NEW Group</a>
        </td>
    </tr>
</table>
<ul class="list-group card shadow portfolio">
    {% for g in group %}
    <a href="{% url 'groups' %}{{ g.name }}" class="list-group-item">{{ g.name }}</a> {% endfor %}
</ul>
{% endblock content %}