
<div class="pagination">
    {% if posts.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
        <a class="pagination-action" href="?page={{ posts.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if posts.has_next %}
        <a class="pagination-action" href="?page={{ posts.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ posts.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>1
    {% endif %}
</div>