{% extends "post/header.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<article class="media content-section container">
  <div class="media-body">
    <div class="article-metadata">
      <h2 class="article-title">{{ object.title }}</h2>
      {% if object.user == user %}
      <div>
        <a class="btn btn-outline-secondary" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-outline-secondary" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>
      {% endif %}
      <a href="{% url 'user-posts' object.user %}">{{ object.user }}</a>
      </br>
      <p class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

    </div>
    {% if object.image %}
    <img src={{ object.image.url }} width="250px">
    {% endif %}
    <p>{{ object.context}}</p>
  </div>
</article>



<div class="container">
{% if user.is_authenticated  %}
<a class="btn btn-primary" href="{% url 'add_comment_to_post' object.id %}">Add comment</a>
{% endif %}
{% for comment in object.comments.all %}
    <div class="card">
        <a class="card-subtitle" href="{% url 'user-posts' comment.author %}">{{ comment.author }}</a>
        <div class="date">
            {{ comment.created_date }}
        </div>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
</div>

{% endblock content %}