{% extends "post/header.html" %} {% block title %}Profile{% endblock %} {% block content %}
<br>
<div class="card shadow  portfolio container">
    <div align="center">
        <img src="{{ user.userprofile.image.url }}" width="240"> 
    </div>
    <div>
        <h1>Profile</h1>
        <p>Username: {{ user }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.userprofile.bio }}</p>
        <p>Phone: {{ user.userprofile.phone }}</p>
        <p>Website: {{ user.userprofile.website }}</p>
    </div>
    </br>
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Update Profile</a>
    </br>
    <a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'edit_basic_profile' %}">Edit Profile</a>
</div>



{% endblock %}