{% extends "post/header.html"%} 

{% block title %}User Details{% endblock %}

{% block content %} 


{% for post in posts|slice:":1" %}

</br>
<div class="card shadow  portfolio">
    <div class="bio-image">
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{ post.user.userprofile.image.url }}" alt="image" width="200" height="200"  /></a>
        <h1>{{ post.user.first_name }} {{ post.user.last_name }}</h1>
        <em>click on image for more info</em>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel" >About {{post.user}}</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img src="{{ post.user.userprofile.image.url }}" name="aboutme" width="240" height="240" border="0" class="img-circle"></a>
                        <h3 class="media-heading">{{post.user}}</h3>
                        <p>Name : {{ post.user.first_name }} {{ post.user.last_name }}</p>
                        <p>Email: {{ post.user.email }}</p>
                        <p>Phone: {{ post.user.userprofile.phone }}</p>
                    </center>
                    <hr>
                    <center>
                        <p class="text-left"><strong>Bio: </strong><br> {{ post.user.userprofile.bio }}</p>
                        <p class="text-left"><strong>Website: </strong> <a href="{{ post.user.userprofile.website }}">{{ post.user.userprofile.website }}</a></p>
                        <br>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <h1>{{post.user}}</h1>


{% endfor %}

<h1 align="left">Posts</h1>
 {% for post in posts %}

<div class="card shadow p-3 mb-5 bg-white rounded">
    <div style="text-align: inline;">
        <img src="{{ post.user.userprofile.image.url }}" width="20" height="20" alt=""> &nbsp;
        <a class="card-subtitle mb-2 text-muted" href="{% url 'user-posts' post.user.username %}">{{ post.user }}</a>
</div>

<div class="card-body">
    <a class="card-title" style="font-size: 2em;" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
    </br>
    <a href="{% url 'groups' %}{{ post.groups }}" class="pills">#{{ post.groups }}</a><br>
    <small>{{ post.date_posted|date:"F d, Y" }}</small>
    </br>
    </br>
    <p class="card-text">{{ post.context|truncatewords:"30" }}</p>

</div>
<a href="{% url 'post-detail' post.id %}">Comments: {{ post.comments.count }}</a>
</div>

{% endfor %}
</div>

{% if posts.paginator.num_pages > 1 %}

<!-- start -->
{% include 'post/_pagination.html' with posts=posts %}
<!-- end -->

{% endif %}

<style>
    .portfolio {
        padding: 6%;
        text-align: center;
    }
    
    .bio-image img {
        border-radius: 50%;
    }
</style>

{% endblock content %}